@*@model IEnumerable<WebDeveloper.Model.Client>*@
@model IEnumerable<WebDeveloper.Model.Client>
@{
    ViewBag.Title = "Index";
    ViewBag.Demo = "Hello World";
    ViewBag.Title = "Test";
}
<h1>@ViewBag.Title</h1>
<br />
<h3>@ViewBag.Demo</h3>

@*@{
        ViewBag.Title = "Index";
    }
    <h1>@ViewBag.Title</h1>
    <br />*@

@foreach (var item in Model)
{
    <div class="col-lg-4">
        <label>Id:</label> @item.ID <br />
        <label>Name:</label> @item.Name <br />
        <label>LastName:</label> @item.LastName <br />
        @if (item.DateCreation == null)
        {
            item.DateCreation = DateTime.Now;
        }
        <label>Date:</label> @item.DateCreation <br />
    </div>
}


